/* You can add global styles to this file, and also import other style files */
@import './assets/newassets/fonts/font.css';

:root {
  --white: #ffffff;
  --red: #de686a;
  --pink: #ebb5bb;
  --textcolor: #4f352e;
  --pink-rgba: 235, 181, 178;
  font-size: 14px;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'SF Pro Display'; }

.poppins {
  font-family: 'Poppins';
}

.c-red {
  color: var(--red);
}

.c-pink {
  color: var(--pink);
}

.c-textcolor, .textcolor {
  color: var(--textcolor);
}

.mt-10 {
    margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.my-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important; 
}

.mx-10 {
    margin-left: 10px !important;
    margin-right: 10px !important; 
}

.mt-20 {
    margin-top: 20px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.my-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important; 
}

.mx-20 {
    margin-left: 20px !important;
    margin-right: 20px !important; 
}

.pr-20 {
  padding-right: 20px !important;
}

.fs-12 {
    font-size: 0.857rem;
}
.lh-16 {
    line-height: 1.143rem;
}

.fs-14 {
    font-size: 1rem;
}
.lh-18 {
    line-height: 1.286rem;
}

.fs-16 {
    font-size: 1.143rem;
}

.fs-18 {
    font-size: 1.286rem;
}

.lh-22 {
    line-height: 1.571rem;
}

h1 {
  line-height: 2.3rem;
}

.d-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.df-dir-c {
  flex-direction: column;
}

.df-j-sa {
  justify-content: space-around;
}

.df-a-fs {
  align-items: flex-start;
}

@media screen and (max-height: 700px) {
  :root {
    font-size: 12px;
  }
}